*{
    box-sizing: border-box;
}

body{
    font-family:Baskerville, sans-serif;
    margin:0;
    padding: 40px;
    background: #a45f5f;
}

header{
    text-align: center;
    margin-bottom: 40px;
}

h1{
    color: #f4f009;
}

header p {
    color: #f4f009;
}

h2{
    color: #f4f009;
}
.dashboard{
    display: flex;
    gap: 20px;
    justify-content:center;
    margin-bottom:40px;
}

.card{
    background : rgb(208, 63, 145) ;
    padding : 25px;
    width : 200px;
    text-align : center;
    border-radius : 12px;
}

.card p{
    font-size : 32px;
    font-weight : bold;
}

.tasks{
    max-width: 700px; 
    margin: auto;
    background: rgb(208, 63, 145); 
    padding: 30px;
    border-radius: 12px;
    } 
    #task-input{
        padding: 12px;
        width: 70%;
    }   
    button{
        padding: 12px 18px;
        cursor:pointer;
    }

    li{
        margin-top:12px;
    }

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    cursor: pointer;
}

body {
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("images/cry.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;

}

.tasks h2 {
    color: #f4f009;
}

#subject-input {
    padding: 12px;
    margin: 10px 5px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    color: #222;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
}

li button {
    background: #f4f009;
    color: rgb(116, 4, 4);
    border: none;
    border-radius: 6px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}


